.fgw-with-checkbox
  flex-flow: row wrap
  max-width: 435px
  .fg-with-checkbox
    max-width: 350px
    margin-right: auto
    margin-left: 0px !important
    input[type="checkbox"]
      &:checked,
      &:not(:checked)
        position: absolute
        left: -9999px
        & + label
          position: relative
          padding-left: 28px
          cursor: pointer
          line-height: 19px
          display: inline-block
          font-size: 15px
          letter-spacing: 0.4px
          font-weight: 300
          color: black
          user-select: none
          &:before
            content: ''
            position: absolute
            left: 0
            top: 50%
            margin-top: -9px
            width: 16px
            height: 16px
            background-color: white
            border: 1px solid black
          &:focus, &:active
            &:before
              border: 2px solid black
          &:after
            content: '✓'
            position: absolute
            left: 0
            top: 50%
            margin-top: -11px
            color: #000
            transition: all 0.2s ease
            width: 18px
            height: 18px
            text-align: center
            font-size: 18px
        &:not(:checked) + label
          &:after
            opacity: 0
            transform: scale(0)
        &:checked + label
          &:after
            opacity: 1
            transform: scale(1)
  .shipping-form__input--small
    width: 150px

@media (max-width: 469px)
  .fgw-with-checkbox
    .shipping-form__input--small
      width: 100%
