@charset "UTF-8";
/**
 *--------------------
 * КАТАЛОГ - catalog.html - catalog hacks
 *--------------------
 */
.product__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start; }
  .product__list .product__item {
    background-color: white;
    margin-right: 0px; }
  .product__list .p__i-prices strong {
    color: #4c4c4c; }

.catalog__show-all-button-mobile {
  margin: auto;
  width: 161px;
  display: block;
  border-bottom: 2px solid #94d3e9;
  font-size: 24px;
  color: #4c4c4c;
  text-align: center;
  cursor: pointer; }
  .catalog__show-all-button-mobile:hover {
    text-decoration: none; }

.product__list .product__item {
  margin-bottom: 35px;
  width: 260px;
  height: 375px; }
  .product__list .product__item .product__item-img {
    width: 100%;
    height: 265px; }
    .product__list .product__item .product__item-img img {
      width: 100%;
      height: auto; }
  .product__list .product__item .product__item-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    padding-top: 16px; }
    .product__list .product__item .product__item-content .p__i-prices {
      margin-bottom: auto;
      display: flex;
      align-items: flex-end; }
      .product__list .product__item .product__item-content .p__i-prices a {
        height: 27px; }
      .product__list .product__item .product__item-content .p__i-prices strong {
        height: 27px; }
        .product__list .product__item .product__item-content .p__i-prices strong::after {
          content: "₹";
          position: absolute;
          font-family: "Conv_FuturaNewCondMedium";
          right: -13px;
          top: 1px;
          font-size: 24px;
          color: #4c4c4c;
          font-style: normal;
          font-weight: 100; }
    .product__list .product__item .product__item-content .free_limit {
      margin-bottom: 7px;
      width: 180px; }
    .product__list .product__item .product__item-content .hr {
      width: 70%;
      margin-bottom: 16px; }
    .product__list .product__item .product__item-content .free_dlp {
      bottom: -21px;
      width: 180px;
      border: 1px solid #d9d9d9;
      color: #4c4c4c;
      background: white; }
.product__list .product__item-content .p__i-prices a:nth-of-type(2) {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border-radius: 50%;
  background: #feb6ff url("../i/basket-icon-dark.svg") right no-repeat;
  background-size: 17px 17px;
  background-position: 4px 4px;
  margin-left: 8px;
  position: relative;
  top: 2px; }

@media (max-width: 500px) {
  .product__list {
    justify-content: space-around; }
    .product__list .product__item {
      margin-left: 20%;
      margin-right: 20%; } }
@media (min-width: 712px) {
  .product__list {
    flex: row;
    justify-content: space-around; }
    .product__list .product__item {
      margin-left: 1%;
      margin-right: 1%; } }
@media (max-width: 796px) {
  .product__list {
    justify-content: space-around; }
    .product__list .product__item {
      margin: 0px 10px 35px; } }
@media (min-width: 992px) {
  .product__list {
    justify-content: space-around; }
    .product__list .product__item {
      width: 250px;
      margin-bottom: 35px; } }
@media (min-width: 1190px) {
  .product__list {
    justify-content: space-around; }
    .product__list .product__item {
      width: 260px;
      margin-bottom: 35px;
      margin-left: 0px;
      margin-right: 0px; }

  .product__list-one-child {
    justify-content: flex-start; }
    .product__list-one-child .product__item {
      margin-left: 1%; } }
@media (min-width: 1167px) {
  .product__list .product__item-last-product-1 {
    margin-right: 75%; }
  .product__list .product__item-last-product-2 {
    margin-right: 50%; }
  .product__list .product__item-last-product-3 {
    margin-right: 25%; } }
.cat_item-title:before {
  left: 0;
  top: 6px;
  width: 100px;
  height: 100px; }

/* different colors on collection title decorations */
.catalog__item:nth-child(3n+1) .cat_item-title:before {
  background-color: #94d3e9; }
.catalog__item:nth-child(3n+2) .cat_item-title:before {
  background-color: #d6bbde; }
.catalog__item:nth-child(3n+3) .cat_item-title:before {
  background-color: #f3abca; }

/* show all button */
@media (max-width: 767px) {
  .catalog__show-all-button {
    display: none; }

  .catalog__show-all-button-mobile {
    display: block;
    width: 120px;
    margin: auto;
    margin-bottom: 80px; } }
/* catalog filter menu fix for macs */
.product_selection {
  width: 650px;
  justify-content: space-around; }
  .product_selection > ul {
    justify-content: space-around;
    width: 65%; }
    .product_selection > ul > li {
      text-align: center;
      min-width: 154px;
      width: auto; }
      .product_selection > ul > li ul li {
        padding: 0px;
        text-align: center; }

@media (max-width: 767px) {
  .product_selection {
    width: 100%; }
    .product_selection > ul {
      width: 100%; } }
/* ------------------- */
/* СТРАНИЦА ТОВАРА - product.html - product hacks */
/* -------------------- */
.tos-slide a {
  background-color: red; }
  .tos-slide a img {
    height: auto;
    width: 100%; }

.product-card--artikl {
  white-space: nowrap; }

/* this part is dedicated to hacking the buttons positioning on all viewports, they were a mess now they look passable */
@media (min-width: 1360px) {
  .product-card--buttons .product-btn--in-basket {
    width: 230px; } }
@media (min-width: 1400px) {
  .product-card--buttons .product-btn--in-basket {
    width: 250px; } }
@media (max-width: 1360px) {
  .product-card--buttons .product-btn--in-basket {
    margin-right: 100px;
    margin-bottom: 12px;
    margin-left: auto; }
  .product-card--buttons .product-btn--mini {
    margin-right: 100px;
    margin-left: auto; } }
@media (max-width: 1100px) {
  .product-card--buttons .product-btn--in-basket {
    margin-right: 50px;
    margin-bottom: 12px;
    margin-left: auto; }
  .product-card--buttons .product-btn--mini {
    margin-right: 50px;
    margin-left: auto; } }
@media (max-width: 920px) {
  .product-card--buttons .product-btn--in-basket {
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: auto;
    width: 230px; }
  .product-card--buttons .product-btn--mini {
    margin-right: 0px;
    margin-left: auto;
    width: 230px; } }
@media (max-width: 768px) {
  .product-card--buttons .product-buttons {
    align-items: flex-start; }
  .product-card--buttons .product-btn--in-basket {
    width: 200px; }
  .product-card--buttons .product-btn--mini {
    width: 230px; }
    .product-card--buttons .product-btn--mini:nth-child(1) {
      margin-top: 16px;
      margin-bottom: 0px; }
    .product-card--buttons .product-btn--mini:nth-child(2) {
      margin-top: 4px; }
  .product-card--buttons .product-buttons__row-price {
    margin-right: 25px; } }
@media (max-width: 600px) {
  .product-card--buttons .product-buttons {
    align-items: flex-end; }
  .product-card--buttons .product-btn--in-basket {
    width: 230px;
    margin-bottom: 12px;
    margin-left: auto; }
  .product-card--buttons .product-btn--mini {
    margin-left: auto; }
    .product-card--buttons .product-btn--mini:nth-child(1) {
      margin-top: 0px;
      margin-bottom: 5px; }
  .product-card--buttons .product-buttons__row {
    width: 100%; }
    .product-card--buttons .product-buttons__row .product-buttons__row-price {
      margin-right: auto; } }
@media (max-width: 350px) {
  .product-card--buttons .product-btn--in-basket {
    width: 180px; }
  .product-card--buttons .product-btn--mini {
    width: 180px; } }
@media (min-width: 700px) and (max-width: 768px) {
  .product-card--buttons .product-btn--in-basket {
    width: 250px;
    margin-left: 50px; } }
/* this element caused horizontal scrolling at certain widths */
@media (min-width: 768px) and (max-width: 793px) {
  .footer--download-btn {
    padding-right: 55px !important; } }
/* fixing article number and "limited series" plaque positioning */
@media (min-width: 768px) and (max-width: 960px) {
  .product-card--header {
    flex-flow: column nowrap; }

  .product-card--inform {
    margin-top: 15px;
    margin-right: auto;
    flex-direction: row;
    align-items: flex-start; }

  .product-card--limited {
    margin: 4px 26px 0; } }
/* fixing image gallery glitch on 760 - 701 px */
@media (min-width: 701px) and (max-width: 768px) {
  .product-card--gallery-thumbs {
    width: 600px; } }
/* fixing gallery grey background */
@media (min-width: 1155px) and (max-width: 1495px) {
  .tos-wrapper {
    max-height: 450px;
    width: 450px; }

  .product-card--gallery-thumbs {
    max-height: 525px;
    min-width: 90px; } }
@media (min-width: 1025px) and (max-width: 1155px) {
  .tos-wrapper {
    max-height: 350px;
    width: 350px; } }
@media (min-width: 768px) {
  .product-card--gallery-thumbs {
    justify-content: flex-start; }
    .product-card--gallery-thumbs a {
      margin-bottom: 7%; } }
/*-------------------------------------------------------------------- */
/* СОСТАВ ОТКРЫТКИ - postcards.html - retina image for the postcards page */
/*-------------------------------------------------------------------- */
.c15-img img {
  width: 60px;
  height: 60px; }

@media only screen and (min-width: 768px) {
  .advantages__card-cont picture > img {
    max-width: 625px; }
  .advantages__card-cont [class*="-img"] img {
    width: 150px;
    height: 150px; } }
.card__open-block [class*="-img"] img {
  width: 150px;
  height: 150px; }

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  .slide__1 {
    background: url(../img/slide_1_retina.png) no-repeat center center;
    height: 521px;
    background-size: cover; }

  .c13:before {
    content: "";
    width: 330px;
    height: 310px;
    background: url(../img/c13-aft_retina.png);
    background-size: cover;
    position: absolute;
    left: -31px;
    top: 84px; } }
/* image positioning after new icons with shadows */
@media (min-width: 1024px) {
  .c11-img {
    position: absolute;
    left: -36px;
    top: -10px; }

  .c11-text {
    margin-left: 66px; }

  .c13-img {
    position: absolute;
    left: -101px;
    top: -16px; }

  .c12-img {
    position: absolute;
    left: -37px;
    top: -11px; }

  .c12-text {
    margin-left: 66px; }

  .c14-img {
    position: absolute;
    left: -104px;
    top: -11px; }

  .c12-text {
    margin-left: 66px; }

  .c15-img {
    position: absolute;
    left: -45px;
    top: -11px; }

  .c15-text {
    margin-left: 66px; }

  .c17-img {
    position: absolute;
    left: -106px;
    top: -11px; }

  .c18-img {
    position: absolute;
    left: -98px;
    top: -11px; }

  .c19-img {
    position: absolute;
    left: -105px;
    top: -11px; } }
@media only screen and (max-width: 768px) {
  .c9-modile img {
    width: 100%;
    max-width: 500px; }

  .c10-mobile img {
    width: 100%;
    max-width: 500px; } }
@media screen and (max-width: 420px) {
  .product__list .product__item-content .free_limit {
    margin-left: 1px; } }
/* #shense title image size */
.slide__1 .container > h1 > img {
  width: 154px;
  height: 44px; }

.catalog__item .postcards-h2 {
  text-align: center;
  margin-bottom: 35px; }

/* ------------------------------------------------------------------ */
/* POSTCARDS.html VIDEO SEGMENT: button, positioning etc. */
/* ------------------------------------------------------------------ */
.main-video {
  overflow: hidden;
  display: block;
  position: relative; }
  .main-video video {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    margin: auto; }

.shense-index-video {
  display: none; }

.magazinam_play {
  z-index: 100000;
  position: absolute;
  top: 76%;
  left: 42%; }

.magazinam_play-mobile {
  margin-top: 250px; }

@media (max-width: 767px) {
  .main-video {
    display: none; }

  .shense-index-video {
    min-height: 400px;
    margin-top: 10px;
    display: flex;
    background: url(../shense-opt/img/shense-opt-video-bg.png) no-repeat top/cover;
    justify-content: center;
    align-items: center; } }
.play__btn {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  border-radius: 29px;
  background: rgba(255, 255, 255, 0.9);
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  padding: 18px 32px;
  text-decoration: none !important;
  display: inline-block;
  vertical-align: top;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 15px;
  padding-left: 61px; }
  .play__btn:before {
    display: block;
    position: absolute;
    content: " ";
    background: url("../img/arr.svg");
    background-size: 29px 24px;
    width: 25px;
    height: 25px;
    left: 33px;
    top: 39px; }

/*-------------------- */
/* ОПТ/ПРЕДСТАВИТЕЛЯМ - shense.opt/index.html - shense.opt fixes */
/*-------------------- */
/* fixing extra horizontal scroll in "partners block" on desktop and mobile */
@media (min-width: 768px) {
  .mg-2__inner .container {
    min-height: 400px; } }
@media (max-width: 767px) {
  .mg-2__inner .container {
    min-height: 309px; } }
.start__img img {
  border-radius: 50%; }

.stpr-conditions__img {
  border-radius: 50%; }

.mg-2 {
  position: relative; }

/* mobile carousel fix */
@media (max-width: 767px) {
  .stpr-conditions__circle-inner img {
    width: 105px; } }
/*-------------------- */
/* ГЛАВНАЯ - index.html - index page fixes */
/*-------------------- */
.wrapper .intro {
  width: 80%;
  margin: auto;
  margin-bottom: 50px; }
  .wrapper .intro .r-main {
    width: 40%;
    margin-top: 56px; }
  .wrapper .intro .l-main {
    width: 53%; }

#content .video-section .video {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 15% 0 18%; }

.play__btn-index {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  width: 150px;
  height: 150px;
  color: #1a1a1a;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none !important;
  position: relative;
  text-align: center;
  z-index: 100000; }
  .play__btn-index:before {
    content: url(../img/arr.svg);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -23px;
    margin-left: -10px; }
  .play__btn-index span {
    display: block;
    margin-top: 111px; }

@media (max-width: 768px) {
  .play__btn-index {
    width: 75px;
    height: 75px; }
    .play__btn-index span {
      display: none; } }
/*-------------------- */
/* ВХОД НА САЙТ - login.html - login page styles */
/*-------------------- */
.login-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: url("../i/intro-bg-login.jpg") 100% no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }

.login-form-wrapper {
  width: 506px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center; }
  .login-form-wrapper h1 {
    margin: 0px 0px 54px 0px;
    font-family: "Bebas Neue Book";
    font-weight: 300;
    font-size: 40px; }
  .login-form-wrapper label {
    display: block;
    text-transform: uppercase;
    cursor: default;
    margin-bottom: 12px;
    margin-top: 20px;
    margin-bottom: 10px; }
    .login-form-wrapper label:last-child {
      margin-bottom: 0px; }
  .login-form-wrapper form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap; }
  .login-form-wrapper input {
    height: 41px;
    width: 100%;
    display: block;
    border: 1px solid #4c4c4c;
    border-radius: 2px; }
  .login-form-wrapper input[type='submit'] {
    height: 34px;
    width: 125px;
    border-radius: 25px;
    background-color: #feb6ff;
    font-weight: 700;
    border: none;
    margin-top: 47px; }
  .login-form-wrapper input[type='text'], .login-form-wrapper input[type='password'] {
    padding-left: 10px; }
  .login-form-wrapper a {
    text-transform: uppercase;
    margin-top: 56px;
    margin-left: auto;
    text-decoration: underline; }
  .login-form-wrapper .help-block {
    align-self: flex-start;
    display: inline;
    background-color: #ffaeae;
    width: auto;
    margin-top: 3px;
    padding: 2px 10px 0px;
    border-radius: 10px; }

@media (max-width: 768px) {
  .login-form-wrapper {
    width: 300px; } }
.product-card-color-picker {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 50px; }

.product-card-color-picker__radios {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 35px; }
  .product-card-color-picker__radios label {
    font-size: 18px;
    display: block;
    text-transform: capitalize; }
  .product-card-color-picker__radios input[type='radio'] {
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-image: url("../img/pc_checkbox.svg");
    background-repeat: no-repeat;
    background-size: 20px 40px;
    margin-bottom: 15px;
    position: relative;
    top: 5px;
    user-select: none; }
    .product-card-color-picker__radios input[type='radio']:checked {
      background-position-y: -21px;
      background-color: #fff;
      user-select: none; }
  .product-card-color-picker__radios input[id='pc-id-natural']::after, .product-card-color-picker__radios input[id='pc-id-gold']::after, .product-card-color-picker__radios input[id='pc-id-silver']::after, .product-card-color-picker__radios input[id='pc-id-various']::after {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 30px;
    top: -4px;
    background-repeat: no-repeat;
    background-size: 30px; }
  .product-card-color-picker__radios input[id='pc-id-natural']::after {
    background-image: url("../img/pc_colorpicker_natural.svg"); }
  .product-card-color-picker__radios input[id='pc-id-gold']::after {
    background-image: url("../img/pc_colorpicker_gold.svg"); }
  .product-card-color-picker__radios input[id='pc-id-silver']::after {
    background-image: url("../img/pc_colorpicker_silver.svg"); }
  .product-card-color-picker__radios input[id='pc-id-various']::after {
    background-image: url("../img/pc_colorpicker_various.svg");
    background-size: 40px;
    background-position: -5px -5px; }

@media only screen and (max-width: 960px) {
  .product-card-color-picker {
    display: flex;
    flex-flow: row wrap; }

  .product-card-color-picker__radios {
    flex-basis: 45%;
    margin-right: 5%;
    margin-bottom: 15px; } }
/**
 *--------------------
 * product.html - footer
 *--------------------
 */
.footer--logo-group {
  display: flex;
  flex-flow: column; }
  .footer--logo-group a {
    text-align: left; }

.footer--conf-btn {
  text-align: left;
  line-height: 20px;
  padding: 15px 60px 15px 28px; }

.footer--copy .footer--conf-link {
  display: block;
  width: 100%;
  text-decoration: underline;
  text-align: center; }

.fgw-with-checkbox {
  flex-flow: row wrap;
  max-width: 435px; }
  .fgw-with-checkbox .fg-with-checkbox {
    max-width: 350px;
    margin-right: auto;
    margin-left: 0px !important; }
    .fgw-with-checkbox .fg-with-checkbox input[type="checkbox"]:checked, .fgw-with-checkbox .fg-with-checkbox input[type="checkbox"]:not(:checked) {
      position: absolute;
      left: -9999px; }
      .fgw-with-checkbox .fg-with-checkbox input[type="checkbox"]:checked + label, .fgw-with-checkbox .fg-with-checkbox input[type="checkbox"]:not(:checked) + label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 19px;
        display: inline-block;
        font-size: 15px;
        letter-spacing: 0.4px;
        font-weight: 300;
        color: black;
        user-select: none; }
        .fgw-with-checkbox .fg-with-checkbox input[type="checkbox"]:checked + label:before, .fgw-with-checkbox .fg-with-checkbox input[type="checkbox"]:not(:checked) + label:before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -9px;
          width: 16px;
          height: 16px;
          background-color: white;
          border: 1px solid black; }
        .fgw-with-checkbox .fg-with-checkbox input[type="checkbox"]:checked + label:focus:before, .fgw-with-checkbox .fg-with-checkbox input[type="checkbox"]:checked + label:active:before, .fgw-with-checkbox .fg-with-checkbox input[type="checkbox"]:not(:checked) + label:focus:before, .fgw-with-checkbox .fg-with-checkbox input[type="checkbox"]:not(:checked) + label:active:before {
          border: 2px solid black; }
        .fgw-with-checkbox .fg-with-checkbox input[type="checkbox"]:checked + label:after, .fgw-with-checkbox .fg-with-checkbox input[type="checkbox"]:not(:checked) + label:after {
          content: "✓";
          position: absolute;
          left: 0;
          top: 50%;
          margin-top: -11px;
          color: #000;
          transition: all 0.2s ease;
          width: 18px;
          height: 18px;
          text-align: center;
          font-size: 18px; }
      .fgw-with-checkbox .fg-with-checkbox input[type="checkbox"]:checked:not(:checked) + label:after, .fgw-with-checkbox .fg-with-checkbox input[type="checkbox"]:not(:checked):not(:checked) + label:after {
        opacity: 0;
        transform: scale(0); }
      .fgw-with-checkbox .fg-with-checkbox input[type="checkbox"]:checked:checked + label:after, .fgw-with-checkbox .fg-with-checkbox input[type="checkbox"]:not(:checked):checked + label:after {
        opacity: 1;
        transform: scale(1); }
  .fgw-with-checkbox .shipping-form__input--small {
    width: 150px; }

@media (max-width: 469px) {
  .fgw-with-checkbox .shipping-form__input--small {
    width: 100%; } }
.catalog-no-cart-icon {
  display: none !important; }

.product__item-content {
  position: relative; }

.product__item-article {
  position: absolute;
  text-transform: uppercase;
  font-size: 12px;
  top: 0px; }

/*# sourceMappingURL=index.css.map */
