.product-card-color-picker
  display: flex
  flex-flow: row nowrap
  margin-bottom: 50px

.product-card-color-picker__radios
  display: flex
  flex-flow: column nowrap
  margin-right: 35px
  label
    font-size: 18px
    display: block
    text-transform: capitalize
  input[type='radio']
    display: block
    -moz-appearance: none
    -webkit-appearance: none
    width: 20px
    height: 20px
    cursor: pointer
    background-image: url('../img/pc_checkbox.svg')
    background-repeat: no-repeat
    background-size: 20px 40px
    margin-bottom: 15px
    position: relative
    top: 5px
    user-select: none
    &:checked
      background-position-y: -21px
      background-color: #fff
      user-select: none
  input[id='pc-id-natural'], input[id='pc-id-gold'], input[id='pc-id-silver'], input[id='pc-id-various']
    &::after
      content: ""
      display: block
      position: absolute
      width: 30px
      height: 30px
      left: 30px
      top: -4px
      background-repeat: no-repeat
      background-size: 30px
  input[id='pc-id-natural']
    &::after
      background-image: url('../img/pc_colorpicker_natural.svg')
  input[id='pc-id-gold']
    &::after
      background-image: url('../img/pc_colorpicker_gold.svg')
  input[id='pc-id-silver']
    &::after
      background-image: url('../img/pc_colorpicker_silver.svg')
  input[id='pc-id-various']
    &::after
      background-image: url('../img/pc_colorpicker_various.svg')
      background-size: 40px
      background-position: -5px -5px

@media only screen and (max-width: 960px)
  .product-card-color-picker
    display: flex
    flex-flow: row wrap
  .product-card-color-picker__radios
    flex-basis: 45%
    margin-right: 5%
    margin-bottom: 15px


/**
  *--------------------
  * product.html - footer
  *--------------------
  */
.footer--logo-group
  display: flex
  flex-flow: column
  a
    text-align: left


.footer--conf-btn
  text-align: left
  line-height: 20px
  padding: 15px 60px 15px 28px


.footer--copy
  .footer--conf-link
    display: block
    width: 100%
    text-decoration: underline
    text-align: center
