.contest {
    width: 286px;
    border-width: 3px;
    border-color: #fff;
    border-style: solid;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    background-color: #9ef0ac;
    overflow: hidden
}

.contest--open {
    -webkit-box-shadow: 0 30px 32px 0 rgba(0,0,0,.4);
    -moz-box-shadow: 0 30px 32px 0 rgba(0,0,0,.4);
    box-shadow: 0 30px 32px 0 rgba(0,0,0,.4)
}

.contest--open .contest__content {
    display: block
}

.contest--open .contest__btn {
    border-color: #9ef0ac;
    background-color: #9ef0ac
}

.contest__btn {
    width: 100%;
    height: 42px;
    border-width: 1px;
    border-color: #d9d9d9;
    border-style: solid;
    cursor: pointer;
    padding-left: 54px;
    position: relative;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    border-radius: 21px;
    border-left: none;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    background: #fff;
    padding-top: 12px
}

.contest__btn:hover {
    background-color: #9ef0ac
}

.contest__content {
    font-family: 'Roboto',sans-serif;
    color: #fff;
    display: none;
    text-align: center;
    background: url(../img/contest.jpg) no-repeat left top;
    padding-top: 33px;
    padding-bottom: 14px;
    position: relative;
    -moz-background-size: cover;
    background-size: cover
}

.contest__content:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .302;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: #28224f
}

.contest-content-inner {
    position: relative;
    z-index: 20
}

.contest-text {
    font-size: 18px;
    line-height: 18px;
    font-family: "bebas_neue";
    color: #63544b;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .35px
}

.contest-plane {
    background-color: #9ef0ac;
    position: absolute;
    width: 42px;
    height: 42px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: 0;
    top: -1px
}

.contest-plane:before {
    content: "";
    display: block;
    position: absolute;
    width: 19px;
    height: 19px;
    background: url(../img/plane.png) no-repeat;
    left: 50%;
    top: 50%;
    margin-left: -9.5px;
    margin-top: -9.5px
}

.contest-header,.take-part-link {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2
}

.contest-header {
    margin-bottom: 10px;
    letter-spacing: .2px;
    font-size: 12px
}
.take-part-link {
    text-decoration: none!important;
    outline: 0!important;
    text-align: center;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    background: #f8a8ca;
    -webkit-box-shadow: 0 2px 0 0 #9e627b;
    -moz-box-shadow: 0 2px 0 0 #9e627b;
    box-shadow: 0 2px 0 0 #9e627b;
    margin: 0 auto 12px;
    border: 0;
    width: 200px;
    padding: 12px 10px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    vertical-align: top
}

.take-part-link--auto {
    width: auto;
    padding-left: 35px;
    padding-right: 35px
}

.take-part-link:active,.take-part-link:focus,.take-part-link:hover {
    color: #fff;
    background: #ffb1d1
}
.roll-btn {
    border-width: 1px;
    border-color: rgba(255,255,255,.6);
    border-style: solid;
    font-size: 11px;
    line-height: 11px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    background: 0 0;
    padding: 8px 16px 7px;
    position: relative;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    -moz-transition: .2s;
    transition: .2s;
    cursor: pointer;
    outline: 0
}

.roll-btn img {
    top: -1px;
    position: relative;
    margin-right: 5px
}

.roll-btn:hover {
    border-color: #fff
}

.contest-timer-wr {
    margin-bottom: 34px
}

.timer {
    color: #fff;
    font-family: 'Roboto',sans-serif;
    text-align: center
}

.timer__values {
    margin-bottom: 10px
}

.timer__digit,.timer__element,.timer__element+div:before {
    display: inline-block;
    vertical-align: top
}

.timer__element {
    position: relative;
    margin-left: 6.5px;
    margin-right: 6.5px;
    font-size: 24px;
    line-height: 24px
}

.timer__element+div:before {
    font-size: 23px;
    line-height: 23px;
    content: ":";
    left: -10px;
    top: 50%;
    margin-top: -22px;
    position: absolute
}

.timer__digit {
    text-transform: uppercase;
    font-size: 25px;
    line-height: 25px;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 4.5px 4px;
    margin-right: 1px
}

.timer__caption {
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    text-transform: uppercase
}
.header--basket-link {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-left: 10px;
    -webkit-transition: background-color opacity .25s ease;
    -o-transition: background-color opacity .25s ease;
    -moz-transition: background-color opacity .25s ease;
    transition: background-color opacity .25s ease;
    position: relative;
    background: #a8d2e7 url(../i/basket-icon.svg) no-repeat 50%/22px auto
}

.header--basket-link:hover {
    opacity: .8
}

.header--basket-link.full {
    background: #9ef0ac url(../i/basket-icon.svg) no-repeat 50%/22px auto
}
.header--basket-link.full span {
    display: block
}

.header--basket-link span {
    display: none;
    position: absolute;
    bottom: -7px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: Roboto;
    font-size: 10px;
    line-height: 10px;
    padding-top: 2px;
    padding-bottom: 1px;
    text-align: center;
    font-weight: 500;
    width: 52px;
    background-color: #ffa0c8;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #fff
}