@charset "UTF-8";
.product__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.product__list .product__item {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
}

.product__list .p__i-prices strong {
  color: #4c4c4c;
}

.catalog__show-all-button-mobile {
  margin: auto;
  width: 161px;
  display: block;
  border-bottom: 2px solid #94d3e9;
  font-size: 24px;
  color: #4c4c4c;
  text-align: center;
  cursor: pointer;
}

.catalog__show-all-button-mobile:hover {
  text-decoration: none;
}

.product__list .product__item {
  margin-bottom: 35px;
  width: 260px;
  height: 375px;
}

.product__list .product__item .product__item-img {
  width: 100%;
  height: 265px;
}

.product__list .product__item .product__item-img img {
  width: 100%;
  height: auto;
}

.product__list .product__item .product__item-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
  padding-top: 16px;
}

.product__list .product__item .product__item-content .p__i-prices {
  margin-right: 26px;
  margin-bottom: auto;
  display: flex;
  align-items: flex-end;
}

.product__list .product__item .product__item-content .p__i-prices a {
  height: 27px;
}

.product__list .product__item .product__item-content .p__i-prices strong {
  height: 27px;
}

.product__list .product__item .product__item-content .p__i-prices strong::after {
  content: '₹';
  position: absolute;
  font-family: 'Conv_FuturaNewCondMedium';
  right: -13px;
  top: 1px;
  font-size: 24px;
  color: #4c4c4c;
  font-style: normal;
  font-weight: 100;
}

.product__list .product__item .product__item-content .free_limit {
  margin-bottom: 7px;
  width: 180px;
}

.product__list .product__item .product__item-content .hr {
  width: 70%;
  margin-bottom: 16px;
}

.product__list .product__item .product__item-content .free_dlp {
  bottom: -21px;
  width: 180px;
}

.product__list .product__item-content .p__i-prices a:after {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #6bf0ab url("../i/basket-icon.svg") right no-repeat;
  background-size: 17px 17px;
  background-position: 4px 4px;
  right: -31px;
  top: 15px;
}

@media (max-width: 500px) {
  .product__list {
    justify-content: space-around;
  }
  .product__list .product__item {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 712px) {
  .product__list {
    flex: row;
    justify-content: space-around;
  }
  .product__list .product__item {
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media (max-width: 796px) {
  .product__list {
    justify-content: space-around;
  }
  .product__list .product__item {
    margin: 0px auto 35px;
  }
}

@media (min-width: 992px) {
  .product__list {
    justify-content: space-around;
  }
  .product__list .product__item {
    width: 250px;
    margin-bottom: 35px;
  }
}

@media (min-width: 1190px) {
  .product__list {
    justify-content: space-around;
  }
  .product__list .product__item {
    width: 260px;
    margin-bottom: 35px;
    margin-right: auto;
    margin-left: auto;
  }
  .product__list-one-child {
    justify-content: flex-start;
  }
  .product__list-one-child .product__item {
    margin-left: 1%;
  }
}

@media (min-width: 1167px) {
  .product__list .product__item-last-product-1 {
    margin-right: 75%;
  }
  .product__list .product__item-last-product-2 {
    margin-right: 50%;
  }
  .product__list .product__item-last-product-3 {
    margin-right: 25%;
  }
}

.cat_item-title:before {
  left: 0;
  top: 6px;
  width: 100px;
  height: 100px;
}

.catalog__item:nth-child(3n+1) .cat_item-title:before {
  background-color: #94d3e9;
}

.catalog__item:nth-child(3n+2) .cat_item-title:before {
  background-color: #d6bbde;
}

.catalog__item:nth-child(3n+3) .cat_item-title:before {
  background-color: #f3abca;
}

@media (max-width: 767px) {
  .catalog__show-all-button {
    display: none;
  }
  .catalog__show-all-button-mobile {
    display: block;
    width: 120px;
    margin: auto;
    margin-bottom: 80px;
  }
}

.product_selection {
  width: 550px;
  justify-content: space-around;
}

.tos-slide a {
  background-color: red;
}

.tos-slide a img {
  height: auto;
  width: 100%;
}

.product-card--artikl {
  white-space: nowrap;
}

@media (min-width: 1360px) {
  .product-card--buttons .product-btn--in-basket {
    width: 230px;
  }
}

@media (min-width: 1400px) {
  .product-card--buttons .product-btn--in-basket {
    width: 250px;
  }
}

@media (max-width: 1360px) {
  .product-card--buttons .product-btn--in-basket {
    margin-right: 100px;
    margin-bottom: 12px;
    margin-left: auto;
  }
  .product-card--buttons .product-btn--mini {
    margin-right: 100px;
    margin-left: auto;
  }
}

@media (max-width: 1100px) {
  .product-card--buttons .product-btn--in-basket {
    margin-right: 50px;
    margin-bottom: 12px;
    margin-left: auto;
  }
  .product-card--buttons .product-btn--mini {
    margin-right: 50px;
    margin-left: auto;
  }
}

@media (max-width: 920px) {
  .product-card--buttons .product-btn--in-basket {
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: auto;
    width: 230px;
  }
  .product-card--buttons .product-btn--mini {
    margin-right: 0px;
    margin-left: auto;
    width: 230px;
  }
}

@media (max-width: 768px) {
  .product-card--buttons .product-buttons {
    align-items: flex-start;
  }
  .product-card--buttons .product-btn--in-basket {
    width: 200px;
  }
  .product-card--buttons .product-btn--mini {
    width: 230px;
  }
  .product-card--buttons .product-btn--mini:nth-child(1) {
    margin-top: 16px;
    margin-bottom: 0px;
  }
  .product-card--buttons .product-btn--mini:nth-child(2) {
    margin-top: 4px;
  }
  .product-card--buttons .product-buttons__row-price {
    margin-right: 25px;
  }
}

@media (max-width: 600px) {
  .product-card--buttons .product-buttons {
    align-items: flex-end;
  }
  .product-card--buttons .product-btn--in-basket {
    width: 230px;
    margin-bottom: 12px;
    margin-left: auto;
  }
  .product-card--buttons .product-btn--mini {
    margin-left: auto;
  }
  .product-card--buttons .product-btn--mini:nth-child(1) {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .product-card--buttons .product-buttons__row {
    width: 100%;
  }
  .product-card--buttons .product-buttons__row .product-buttons__row-price {
    margin-right: auto;
  }
}

@media (max-width: 350px) {
  .product-card--buttons .product-btn--in-basket {
    width: 180px;
  }
  .product-card--buttons .product-btn--mini {
    width: 180px;
  }
}

@media (min-width: 700px) and (max-width: 768px) {
  .product-card--buttons .product-btn--in-basket {
    width: 250px;
    margin-left: 50px;
  }
}

@media (min-width: 768px) and (max-width: 793px) {
  .footer--download-btn {
    padding-right: 55px !important;
  }
}

@media (min-width: 768px) and (max-width: 960px) {
  .product-card--header {
    flex-flow: column nowrap;
  }
  .product-card--inform {
    margin-top: 15px;
    margin-right: auto;
    flex-direction: row;
    align-items: flex-start;
  }
  .product-card--limited {
    margin: 4px 26px 0;
  }
}

@media (min-width: 701px) and (max-width: 768px) {
  .product-card--gallery-thumbs {
    width: 600px;
  }
}

@media (min-width: 1155px) and (max-width: 1495px) {
  .tos-wrapper {
    max-height: 450px;
    width: 450px;
  }
  .product-card--gallery-thumbs {
    max-height: 525px;
    min-width: 90px;
  }
}

@media (min-width: 1025px) and (max-width: 1155px) {
  .tos-wrapper {
    max-height: 350px;
    width: 350px;
  }
}

@media (min-width: 768px) {
  .product-card--gallery-thumbs {
    justify-content: flex-start;
  }
  .product-card--gallery-thumbs a {
    margin-bottom: 7%;
  }
}

.c15-img img {
  width: 60px;
  height: 60px;
}

@media only screen and (min-width: 768px) {
  .advantages__card-cont picture > img {
    max-width: 625px;
  }
  .advantages__card-cont [class*="-img"] img {
    width: 150px;
    height: 150px;
  }
}

.card__open-block [class*="-img"] img {
  width: 150px;
  height: 150px;
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-devicepixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) {
  .slide__1 {
    background: url(../img/slide_1_retina.png) no-repeat center center;
    height: 521px;
    background-size: cover;
  }
  .c13:before {
    content: '';
    width: 330px;
    height: 310px;
    background: url(../img/c13-aft_retina.png);
    background-size: cover;
    position: absolute;
    left: -31px;
    top: 84px;
  }
}

@media (min-width: 1024px) {
  .c11-img {
    position: absolute;
    left: -36px;
    top: -10px;
  }
  .c11-text {
    margin-left: 66px;
  }
  .c13-img {
    position: absolute;
    left: -101px;
    top: -16px;
  }
  .c12-img {
    position: absolute;
    left: -37px;
    top: -11px;
  }
  .c12-text {
    margin-left: 66px;
  }
  .c14-img {
    position: absolute;
    left: -104px;
    top: -11px;
  }
  .c12-text {
    margin-left: 66px;
  }
  .c15-img {
    position: absolute;
    left: -45px;
    top: -11px;
  }
  .c15-text {
    margin-left: 66px;
  }
  .c17-img {
    position: absolute;
    left: -106px;
    top: -11px;
  }
  .c18-img {
    position: absolute;
    left: -98px;
    top: -11px;
  }
  .c19-img {
    position: absolute;
    left: -105px;
    top: -11px;
  }
}

@media only screen and (max-width: 768px) {
  .c9-modile img {
    width: 100%;
    max-width: 500px;
  }
  .c10-mobile img {
    width: 100%;
    max-width: 500px;
  }
}

@media screen and (max-width: 420px) {
  .product__list .product__item-content .free_limit {
    margin-left: 1px;
  }
}

.slide__1 .container > h1 > img {
  width: 154px;
  height: 44px;
}

.catalog__item .postcards-h2 {
  text-align: center;
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .mg-2__inner .container {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .mg-2__inner .container {
    min-height: 309px;
  }
}

.start__img img {
  border-radius: 50%;
}

.stpr-conditions__img {

}

.mg-2 {
  position: relative;
}

@media (max-width: 767px) {
  .magazinam_play {
    display: none;
  }
}

@media (min-width: 768px) {
  .magazinam_play {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }
}

@media (max-width: 767px) {
  .stpr-conditions__circle-inner img {
    width: 105px;
  }
}

.shense-opt-video {
  display: none;
}

@media (max-width: 767px) {
  .shense-opt-video {
    min-height: 400px;
    margin-top: 10px;
    display: flex;
    background: url(../img/shense-opt-video-bg.png) no-repeat top/cover;
    justify-content: center;
    align-items: flex-end;
  }
}
