.stpr-circle
  width: 700px
  background: white
.stpr-circle__dash
  margin-top: 10px
.stpr-circle__inner
  >p
    font-size: 24px
    margin-bottom: 7px
    line-height: 24px
.stpr-circle__text
  ul
    margin-top: 20px
    margin-bottom: 20px
    margin-left: 20px
    list-style: none
    li
      background: url('../img/arr3.svg') no-repeat
      background-size: 25px
      background-position: -4px -12px
      text-align: left
      margin-bottom: 7px
      padding-left: 25px
      font-size: 17px

@media (max-width: 767px)
  .mg-1

    background-position: -127px -135px
    -moz-background-size: 950px 460px
    background-size: 950px 460px
  .stpr-circle
    width: 270px
    height: 270px
    background: white
  .stpr-circle__inner
    padding: 0px
    border: none
    >p
      margin-top: 10px
      font-size: 14px
      max-width: 210px
      line-height: 15px
  .stpr-circle__dash
    display: none
  .stpr-circle__text
    margin-bottom: 0px
    ul
      max-width: 250px
      margin-left: 10px
      margin-top: 6px
      margin-bottom: 5px
      li
        text-align: left
        font-size: 13px
        line-height: 17px
        margin-bottom: 0px
  .stpr-btn
    margin-bottom: 8px

.play__btn-desktop
  margin-top: 450px

.play__btn
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3)
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3)
  box-shadow: 0 1px 2px rgba(0,0,0,.3)
  -webkit-border-radius: 29px
  -moz-border-radius: 29px
  border-radius: 29px
  background: rgba(255,255,255,.9)
  color: #1a1a1a
  font-size: 16px
  font-weight: 400
  text-transform: uppercase
  letter-spacing: .32px
  padding: 18px 32px
  text-decoration: none!important
  display: inline-block
  vertical-align: top
  position: relative
  -webkit-transition: .2s
  -o-transition: .2s
  -moz-transition: .2s
  transition: .2s
  margin-bottom: 15px
  padding-left: 61px
  &:before
    display: block
    position: absolute
    content: " "
    background: url('../img/arr.svg')
    background-size: 29px 24px
    width: 25px
    height: 25px
    left: 32px
    top: 39px
