@charset "UTF-8";
.stpr-1 {
  background-position-x: -200px; }

.stpr-circle {
  width: 700px;
  background: white; }

.stpr-circle__dash {
  margin-top: 10px; }

.stpr-circle__inner > p {
  font-size: 24px; }

.stpr-circle__text ul {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 20px;
  list-style: none; }
  .stpr-circle__text ul li {
    background: url("../img/arr3.svg") no-repeat;
    background-size: 25px;
    background-position: -4px -12px;
    text-align: left;
    margin-bottom: 7px;
    padding-left: 25px;
    font-size: 17px; }

@media (max-width: 767px) {
  .mg-1 {
    background: url("../img/magazinam-transparent.png");
    background-position: -127px -135px;
    -moz-background-size: 950px 460px;
    background-size: 950px 460px; }

  .stpr-circle {
    width: 270px;
    height: 270px;
    background: white; }

  .stpr-circle__inner {
    padding: 0px;
    border: none; }
    .stpr-circle__inner > p {
      font-size: 14px;
      max-width: 210px;
      margin-bottom: 7px; }

  .stpr-circle__dash {
    display: none; }

  .stpr-circle__text ul {
    max-width: 250px;
    margin-left: 10px;
    margin-top: 6px;
    margin-bottom: 5px; }
    .stpr-circle__text ul li {
      text-align: left;
      font-size: 13px;
      line-height: 17px;
      margin-bottom: 0px; } }
.play__btn-desktop {
  margin-top: 450px; }

.play__btn {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  border-radius: 29px;
  background: rgba(255, 255, 255, 0.9);
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.32px;
  padding: 18px 32px;
  text-decoration: none !important;
  display: inline-block;
  vertical-align: top;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 15px;
  padding-left: 61px; }
  .play__btn:before {
    display: block;
    position: absolute;
    content: " ";
    background: url("../img/arr.svg");
    background-size: 29px 24px;
    width: 25px;
    height: 25px;
    left: 33px;
    top: 39px; }

/* ------------------------------------------------------------------------------- */
/* CALCULATOR BLOCK / БЛОК КАЛЬКУЛЯТОРА - opt > index.html - calculator styles */
/* ------------------------------------------------------------------------------- */
.calc-mobile {
  display: none; }

.calc-tooltip-desktop {
  display: block; }

.calc-tooltip-mobile {
  display: none; }

.slider-wrapper-mobile {
  display: none; }

.ch-mobile {
  display: none; }

.calc-wrapper {
  box-sizing: border-box;
  margin: 30px 0px 30px;
  padding: 30px 40px; }
  .calc-wrapper h2 {
    text-align: center; }
  .calc-wrapper > p {
    display: block;
    margin: 15px auto 25px;
    width: 65%;
    text-align: center;
    color: #c9c9c9;
    font-family: Candara;
    font-size: 17px; }
    .calc-wrapper > p:nth-of-type(2) {
      color: #282828;
      font-family: "Roboto", sans-serif;
      margin-bottom: 0px;
      width: 80%; }

.calc-slider {
  height: 100px;
  margin-top: 30px;
  margin-bottom: 6px; }
  .calc-slider > p {
    margin-bottom: 45px; }
  .calc-slider .slider-wrapper-desktop {
    display: flex; }
    .calc-slider .slider-wrapper-desktop div {
      user-select: none; }
  .calc-slider #slider {
    position: relative;
    height: 3px;
    background-color: #ffb8d7;
    border: none;
    width: 85%;
    margin: auto; }
    .calc-slider #slider::before {
      position: absolute;
      top: -9px;
      left: -10px;
      display: block;
      content: "";
      height: 21px;
      width: 21px;
      border-radius: 50%;
      background-color: white;
      border: 2px solid #ffb8d7; }
    .calc-slider #slider::after {
      position: absolute;
      top: -9px;
      right: -10px;
      display: block;
      content: "";
      height: 21px;
      width: 21px;
      border-radius: 50%;
      background-color: white;
      border: 2px solid #ffb8d7; }
  .calc-slider .ui-slider-handle {
    background-color: #ffb8d7;
    border-radius: 50%;
    border: none;
    position: relative;
    top: -8px;
    transition: background-color 0.5s ease; }
    .calc-slider .ui-slider-handle:focus {
      outline: none;
      background-color: #ff87bb; }
    .calc-slider .ui-slider-handle #custom-handle {
      position: absolute;
      top: -31px;
      left: -41px;
      text-align: center;
      width: 100px;
      font-family: Roboto;
      color: #abaaaa;
      font-size: 17px;
      user-select: none; }
  .calc-slider .ui-state-active {
    color: #262626;
    border: none;
    outline: none; }

.ui-tooltip {
  font-size: 13px;
  font-family: Roboto; }

.calc-container {
  color: #262626;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  border: 3px solid #ffb8d7; }
  .calc-container .calc-inner-wrapper {
    margin: 20px 100px 10px; }
  .calc-container .calc-tooltip {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #ffb8d7;
    text-align: center;
    cursor: pointer; }
  .calc-container .calc-table {
    table-layout: fixed; }
    .calc-container .calc-table .table-head td {
      padding-bottom: 0px; }
    .calc-container .calc-table .table-head .ct-col-1 {
      width: 20%; }
    .calc-container .calc-table .table-head .ct-col-2 {
      width: 6%; }
    .calc-container .calc-table .table-head .ct-col-5 {
      width: 6%; }
    .calc-container .calc-table tr td:nth-child(1) {
      text-align: left; }
    .calc-container .calc-table tr:nth-child(2) {
      height: 10px;
      font-size: 12px;
      color: #cecece;
      border-bottom: 3px solid #ffb8d7; }
      .calc-container .calc-table tr:nth-child(2) td {
        padding-top: 0px;
        padding-bottom: 0px; }
    .calc-container .calc-table tr:nth-child(7) {
      height: 60px; }
    .calc-container .calc-table tr:nth-child(n+8):nth-child(-n+11) td:nth-child(3) {
      border-right: 3px solid #ffb8d7; }
    .calc-container .calc-table tr:nth-child(8) td {
      height: 30px;
      padding-top: 0px; }
    .calc-container .calc-table tr:nth-child(9) td {
      height: 75px; }
    .calc-container .calc-table tr:nth-child(10) td {
      height: 42px;
      padding: 0px 5px 0px; }
    .calc-container .calc-table tr:nth-child(11) td {
      height: 35px;
      padding: 28px 5px 0px; }
    .calc-container .calc-table tr:nth-child(12) {
      height: 40px;
      border-bottom: 3px solid #ffb8d7; }
    .calc-container .calc-table tr:nth-child(13) {
      height: 50px;
      font-weight: 800; }
    .calc-container .calc-table td {
      text-align: center;
      padding: 10px 5px 10px; }

/* ------------------------------------------------------------------------------- */
/* CALCULATOR BLOCK for mobile / БЛОК КАЛЬКУЛЯТОРА для мобильных - opt > index.html - calculator styles for mobiles */
/* ------------------------------------------------------------------------------- */
@media only screen and (min-width: 800px) and (max-width: 1250px) {
  /* transitional media size */
  .ch-desktop {
    display: block; }

  .ch-mobile {
    display: none; }

  .slider-wrapper-mobile {
    display: none; }

  .calc-container .calc-inner-wrapper {
    margin: 30px 20px 30px; }

  .calc-slider .slider-wrapper-desktop {
    position: relative; }
    .calc-slider .slider-wrapper-desktop #slider {
      width: 95%; }
    .calc-slider .slider-wrapper-desktop > div {
      position: absolute; }
      .calc-slider .slider-wrapper-desktop > div:nth-of-type(1) {
        left: -3px;
        top: 20px;
        width: 55px; }
      .calc-slider .slider-wrapper-desktop > div:nth-of-type(3) {
        right: -3px;
        top: 20px; }

  .calc-mobile {
    display: none; } }
/* smallest media size */
@media only screen and (max-width: 799px) {
  #custom-handle {
    display: none; }

  .ch-desktop {
    display: none;
    border: 1px solid red; }

  .calc-tooltip-desktop {
    display: none; }

  .calc-tooltip-mobile {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px; }

  .calc-desktop {
    display: none; }

  .calc-mobile {
    display: table-row; }

  .calc-slider .slider-wrapper-desktop {
    display: block; }

  .slider-wrapper-mobile {
    display: none; }

  .ch-mobile {
    display: block; }

  .calc-wrapper {
    padding: 15px; }
    .calc-wrapper > p {
      margin: 20px auto 20px;
      font-size: 16px;
      width: 100%; }
    .calc-wrapper .calc-container {
      font-size: 12px; }
      .calc-wrapper .calc-container .calc-slider .slider-wrapper-desktop {
        width: 100%;
        position: relative; }
        .calc-wrapper .calc-container .calc-slider .slider-wrapper-desktop #slider-vertical {
          position: relative;
          height: 100px;
          width: 3px;
          margin: auto;
          border: none;
          background-color: #ffb8d7; }
          .calc-wrapper .calc-container .calc-slider .slider-wrapper-desktop #slider-vertical .custom-handle-mobile {
            width: 100px;
            font-size: 12px; }
        .calc-wrapper .calc-container .calc-slider .slider-wrapper-desktop > div:nth-of-type(1) {
          position: absolute;
          left: -3px;
          top: 20px;
          width: 55px; }
        .calc-wrapper .calc-container .calc-slider .slider-wrapper-desktop > div:nth-of-type(3) {
          position: absolute;
          right: -3px;
          top: 20px; }
      .calc-wrapper .calc-container .ui-slider-handle, .calc-wrapper .calc-container .calc-tooltip {
        font-size: 16px; }
      .calc-wrapper .calc-container .calc-inner-wrapper {
        margin: 10px 5px 10px; }
      .calc-wrapper .calc-container .mobile-table-head {
        height: 5px; }
        .calc-wrapper .calc-container .mobile-table-head td {
          padding: 0px; }
          .calc-wrapper .calc-container .mobile-table-head td:nth-child(1) {
            width: 25%; }
          .calc-wrapper .calc-container .mobile-table-head td:nth-child(2) {
            width: 0%; }
          .calc-wrapper .calc-container .mobile-table-head td:nth-child(3) {
            width: 15%; }
          .calc-wrapper .calc-container .mobile-table-head td:nth-child(4) {
            width: 20%; }
          .calc-wrapper .calc-container .mobile-table-head td:nth-child(5) {
            width: 0%; }
          .calc-wrapper .calc-container .mobile-table-head td:nth-child(6) {
            width: 20%; }

  .calc-slider p {
    margin: 20px auto 10px;
    text-align: center; }
    .calc-slider p:nth-child(2) {
      font-size: 14px;
      font-weight: 500; }

  .calc-table {
    margin-top: 15px; }
    .calc-table tr:nth-child(5) {
      height: 20px;
      font-size: 10px;
      color: #cecece; }
      .calc-table tr:nth-child(5) td {
        padding: 0px 0px 10px 5px; }
    .calc-table tr:nth-child(6) {
      border-bottom: 3px solid #ffb8d7; } }
/* ------------------------------------------------------------------------------- */
/* REPRESENTATIVES BLOCK / БЛОК «ПРЕДСТАВИТЕЛЯМ» shense-opt index.html */
/* ------------------------------------------------------------------------------- */
.represent {
  background: url("../img/flowers_bg.png") no-repeat bottom left;
  background-size: 100%;
  background-position: bottom 30% left 0%;
  margin-top: 70px;
  width: 100%; }
  .represent h2 {
    display: block;
    text-align: center;
    letter-spacing: 0px; }
  .represent .represent__faq {
    width: 79%;
    margin: auto;
    margin-top: 90px;
    display: flex;
    flex-flow: row wrap; }
    .represent .represent__faq > div {
      margin-bottom: 85px;
      padding-left: 4.7%;
      flex-basis: 50%;
      background: url("../img/checkmark.svg") no-repeat; }
      .represent .represent__faq > div p {
        display: block;
        line-height: 25px;
        width: 90%; }
  .represent .represent__steps {
    width: 79%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap; }
    .represent .represent__steps ul {
      padding-top: 25px;
      margin-bottom: 100px; }
      .represent .represent__steps ul li {
        position: relative;
        margin-top: 50px;
        width: 100%;
        list-style: none;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center; }
        .represent .represent__steps ul li:after {
          content: "";
          display: block;
          background: url("../img/arrow_down.svg") no-repeat center;
          height: 33px;
          width: 10px;
          position: absolute;
          top: 108%;
          right: 49.5%; }
        .represent .represent__steps ul li p {
          display: block;
          width: 30%;
          display: block;
          font-weight: 500; }
        .represent .represent__steps ul li:nth-child(1) {
          padding-top: 19px;
          background-image: url("../img/bag.svg"); }
          .represent .represent__steps ul li:nth-child(1) p {
            width: 35%;
            margin-left: auto;
            margin-right: 6%; }
          .represent .represent__steps ul li:nth-child(1) span {
            font-weight: normal;
            margin-top: 15px;
            display: block;
            color: #cecece; }
        .represent .represent__steps ul li:nth-child(2) {
          padding-top: 19px;
          background-image: url("../img/pro.svg"); }
          .represent .represent__steps ul li:nth-child(2) p {
            margin-right: auto;
            margin-left: 11%;
            text-align: right; }
        .represent .represent__steps ul li:nth-child(3) {
          padding-top: 19px;
          background-image: url("../img/handshake.svg"); }
          .represent .represent__steps ul li:nth-child(3) p {
            margin-left: auto;
            margin-right: 11%;
            text-align: left; }
        .represent .represent__steps ul li:nth-child(4) {
          padding-top: 19px;
          background-image: url("../img/money.svg"); }
          .represent .represent__steps ul li:nth-child(4) p {
            margin-right: auto;
            margin-left: 11%;
            text-align: right; }
          .represent .represent__steps ul li:nth-child(4):after {
            display: none; }

@media (max-width: 960px) {
  html body .represent {
    background-size: 200%;
    background-position: bottom 10% left 0%; }
    html body .represent .represent__faq {
      width: 75%; }
      html body .represent .represent__faq > div {
        flex-basis: 100%;
        padding-left: 15%;
        margin-bottom: 45px; }
    html body .represent h2:nth-child(2) {
      display: none; }
    html body .represent .represent__steps {
      width: 80%;
      padding: 0px 3%; }
      html body .represent .represent__steps ul li {
        margin-top: 20px;
        height: auto;
        min-height: 105px;
        background-position: top left;
        background-repeat: no-repeat;
        background-size: 70px;
        padding-left: 30%; }
        html body .represent .represent__steps ul li p {
          width: 100% !important;
          margin: 0px !important;
          text-align: left !important; }
        html body .represent .represent__steps ul li:before {
          content: "";
          position: absolute;
          top: 77px;
          left: 34px;
          bottom: -10px;
          width: 2px;
          background-color: #ddd; }
        html body .represent .represent__steps ul li:after {
          background: none;
          content: "";
          position: absolute;
          top: auto;
          bottom: -11px;
          left: 32.2px;
          transform: rotate(-135deg);
          width: 6px;
          height: 6px;
          border-top: 2px solid #ddd;
          border-left: 2px solid #ddd; }
        html body .represent .represent__steps ul li:nth-child(4):after {
          display: none; }
        html body .represent .represent__steps ul li:nth-child(4):before {
          display: none; } }
@media (max-width: 500px) {
  html body .represent .represent__steps {
    width: 100%; }
    html body .represent .represent__steps ul li {
      padding-left: 25%; } }
/* ------------------------------------------------------------------------------- */
/* "Политика конфиденциальности" shense-opt index.html */
/* ------------------------------------------------------------------------------- */
.row .footer--conf {
  font-size: 14px;
  text-decoration: underline;
  display: block;
  width: 210px;
  margin-left: auto; }
.row .copyright {
  padding-top: 5px; }

@media (max-width: 768px) {
  .row .footer--conf {
    margin: auto;
    margin-top: 15px; } }
/* ------------------------------------------------------------------------------- */
/* чекбокс "соглашение на обработку данных" shense-opt index.html */
/* ------------------------------------------------------------------------------- */
.fill-form__group.fill-form__checkbox {
  width: 100%; }
  .fill-form__group.fill-form__checkbox input[type="checkbox"]:checked, .fill-form__group.fill-form__checkbox input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px; }
    .fill-form__group.fill-form__checkbox input[type="checkbox"]:checked + label, .fill-form__group.fill-form__checkbox input[type="checkbox"]:not(:checked) + label {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      font-family: "Gotham Pro";
      line-height: 24px;
      display: inline-block;
      font-size: 15px;
      letter-spacing: 0.4px;
      font-weight: 300;
      color: black;
      user-select: none; }
      .fill-form__group.fill-form__checkbox input[type="checkbox"]:checked + label:before, .fill-form__group.fill-form__checkbox input[type="checkbox"]:not(:checked) + label:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -9px;
        width: 16px;
        height: 16px;
        background-color: white;
        border: 1px solid black; }
      .fill-form__group.fill-form__checkbox input[type="checkbox"]:checked + label:focus:before, .fill-form__group.fill-form__checkbox input[type="checkbox"]:checked + label:active:before, .fill-form__group.fill-form__checkbox input[type="checkbox"]:not(:checked) + label:focus:before, .fill-form__group.fill-form__checkbox input[type="checkbox"]:not(:checked) + label:active:before {
        border: 2px solid black; }
      .fill-form__group.fill-form__checkbox input[type="checkbox"]:checked + label:after, .fill-form__group.fill-form__checkbox input[type="checkbox"]:not(:checked) + label:after {
        content: "✓";
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -11px;
        color: #000;
        transition: all 0.2s ease;
        width: 18px;
        height: 18px;
        text-align: center;
        font-size: 18px; }
    .fill-form__group.fill-form__checkbox input[type="checkbox"]:checked:not(:checked) + label:after, .fill-form__group.fill-form__checkbox input[type="checkbox"]:not(:checked):not(:checked) + label:after {
      opacity: 0;
      transform: scale(0); }
    .fill-form__group.fill-form__checkbox input[type="checkbox"]:checked:checked + label:after, .fill-form__group.fill-form__checkbox input[type="checkbox"]:not(:checked):checked + label:after {
      opacity: 1;
      transform: scale(1); }

@media (max-width: 575px) {
  .fill-form__group.fill-form__checkbox {
    width: 291px; }
    .fill-form__group.fill-form__checkbox input[type="checkbox"]:checked + label, .fill-form__group.fill-form__checkbox input[type="checkbox"]:not(:checked) + label {
      text-align: left; }
      .fill-form__group.fill-form__checkbox input[type="checkbox"]:checked + label::before, .fill-form__group.fill-form__checkbox input[type="checkbox"]:not(:checked) + label::before {
        top: 11px; }
      .fill-form__group.fill-form__checkbox input[type="checkbox"]:checked + label::after, .fill-form__group.fill-form__checkbox input[type="checkbox"]:not(:checked) + label::after {
        top: 11px; } }

/*# sourceMappingURL=opt.css.map */
